<template>
  <button v-on:click="echo()">My Vue Button</button>
</template>
<script>
  export default {
    methods: {
      echo: function() {
        alert('You clicked Vue button!');
      }
    },
    name: 'VueButton'
  }
</script>